.dropdown-toggle.btn-yellow {
  background-color: #ffcf6f;
  color: #000000;
}

.dropdown-menu {
  margin-top: 8px;
}

.logo {
  max-width: 100px; /* Adjust the maximum width of the logo */
  height: auto;
  padding-bottom: 20px;
}

.header-text {
  padding-left: 15px;
}

.footer {
            background-color: #212529;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: aliceblue;
        }
        .footer p {
            margin: 0;
        }
        .footer img {
            margin-top: 10px;
        }




@media (max-width: 768px) {
  .logo {
      max-width: 100px; /* Adjust the maximum width of the logo for smaller screens */
  }

  .header-text h2 {
      font-size: 20px; /* Adjust font size for smaller screens */
      font-weight: bold;
  }

  .header-text h4 {
      font-size: 16px; /* Adjust font size for smaller screens */
  }
  .dropdown-toggle.btn-yellow {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
  .btn.btn-light {
      font-size: 12px; /* Adjust font size for smaller screens */
  }
    
}


